{% extends "base.html" %}
{% block content %}

<div class="container signup"> 
	<h1>Signup Form </h1>
	<form action="" method="post">
		<input type="username" placeholder="firstname" required><br><br>
		<input type="username" placeholder="lastname" required><br><br>
		<input type="email" placeholder="email" required><br><br>
		<input type="password" placeholder="password" required><br><br>
		<input type="password" placeholder="confirm password" required><br><br>
	</form>
	<input type="submit" class="btn btn-primary" value="Signup">

</div>


{% endblock %}